<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="js/custom.js"></script>
</head>

<body style="background-color: #dcdcdc;">
    <div class="container mt-3 pt-3 pb-3 bg-light">
        <h3 th:text="#{finder.title}"></h3>
        <hr>
        <br>
        <p th:text="#{information}"> </p>
        <div class="input-group">
            <input type="text" class="form-control rounded-left" th:placeholder="#{film.title}" id="title">
            <input type="text" class="form-control rounded-0" th:placeholder="#{film.year}" id="year">
            <div class="input-group-prepend" id="button-addon4">
                <button class="btn btn-info btn-outline-primary text-white rounded-0" type="button" th:text="#{button.search}" onclick="loadData();"></button>
                <button class="btn btn-info btn-outline-primary text-white rounded-right" type="button" th:text="#{button.delete}" onclick="deleteData();"></button>
            </div>
        </div>
        <div class="container-sm mb-2">
            <h4 th:text="#{results}" id="resultsText" class="mt-3" style="visibility:hidden"></h4>
            <div class="container-sm border border-dark rounded-sm p-3 m-3 bg-success text-white" id="infoPelis" style="visibility:hidden">
            </div>
        </div>

    </div>
    <div th:insert="~{fragments/langSelector.html :: body}"></div>
    </div>
</body>